

<%- include("partial/header"); -%> 
    <div class="search">
        <form class="" action="/search" method="post">
            <input class="form-i"  type="text" name="queryTxt" placeholder=" I'm Ready to Find Your Query " required="on" autocomplete="off">
            <button class="btn btn-warning btn-cntr" type="submit" name="" value="">Search</button>
        </form>
    </div>
    <h1>Home</h1>
    <p> <%= homeContent %>   </p>

    <% for(let i=0;i<postArray.length;i++){ %>
        <h2> <%= postArray[i].title %>  </h2>
        <p> <%= postArray[i].content.substring(0,160)+"......" %> <a href="/post/ <%= postArray[i].title %>" target="_blank">Read More</a></p>
    <% } %>

<%- include("partial/footer"); -%> 








